@import "./scene.scss";

.game {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  min-height: 520px;
  height: 100%;
  border: 4px solid #456077;
  overflow: hidden;

  &.is-success {
    .character-wrapper {
      animation: wrapper-success 3s linear infinite;
    }

    .character {
      animation: character-success 3s linear infinite;
    }
  }

  .character-wrapper {
    position: absolute;
    top: -108px;
    left: 50%;
    transform: translateX(-50%);
    animation: wrapper-fail 3s ease-in-out infinite;

    @keyframes wrapper-fail {
      0% {
        transform: translate(-50%, 0px);
      }
      100% {
        transform: translate(-50%, 0px);
      }
    }

    @keyframes wrapper-success {
      0% {
        transform: translate(-50%, 0px);
      }
      15% {
        transform: translate(-50%, 0px);
      }
      25% {
        transform: translate(-50%, -140px);
      }
      35% {
        transform: translate(-50%, 0px);
      }
      50% {
        transform: translate(-50%, 0px);
      }
      100% {
        transform: translate(-50%, 0px);
      }
    }
  }

  .character {
    width: 128px;
    height: 128px;
    background-image: url("../sprites/char/run_0.1.gif");
    background-repeat: no-repeat;
    animation: character-fail 3s linear infinite;

    @keyframes character-fail {
      0% {
        transform: translateX(-300px);
        background-image: url("../sprites/char/run_0.1.gif");
      }
      17% {
        background-image: url("../sprites/char/run_0.1.gif");
      }
      18% {
        transform: translateX(-68px);
        background-image: url("../sprites/char/stand.gif");
      }
      100% {
        transform: translateX(-68px);
        background-image: url("../sprites/char/stand.gif");
      }
    }

    @keyframes character-success {
      0% {
        transform: translateX(-300px);
        background-image: url("../sprites/char/run_0.1.gif");
      }
      14% {
        background-image: url("../sprites/char/run_0.1.gif");
      }
      15% {
        background-image: url("../sprites/char/jump_up.gif");
      }
      24% {
        background-image: url("../sprites/char/jump_up.gif");
      }
      25% {
        background-image: url("../sprites/char/jump_down.gif");
      }
      34% {
        background-image: url("../sprites/char/jump_down.gif");
      }
      35% {
        background-image: url("../sprites/char/run_0.1.gif");
      }
      49% {
        background-image: url("../sprites/char/run_0.1.gif");
      }
      50% {
        transform: translateX(300px);
        background-image: url("../sprites/char/stand.gif");
      }
      100% {
        transform: translateX(300px);
        background-image: url("../sprites/char/stand.gif");
      }
    }
  }

  .obstacle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
    width: 64px;
    height: 88px;
    background-image: url("../sprites/level/obstacle.gif");
    background-repeat: no-repeat;
  }
}
