.app-section {
  display: flex;
  flex-direction: column;
  width: 50%;

  &:first-child {
    padding-right: 1rem;
  }

  &:last-child {
    padding-left: 1rem;
  }

  code {
    background: #fafafa;
    padding: 0.2em 0.5em;
    font-size: inherit;
    border-radius: 0.5em;
    border: 1px solid #456077;
  }
}
